nav {
    margin-left: -100%;
    box-shadow: -5px 0px 20px black;
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1);
}

.overlay {
    display: none;
    opacity: 0;
    animation: fade-in 0.3s cubic-bezier(.4,0,.2,1) 0.15s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

.sidebar-expanded nav {
    margin-left: 0;
    transition-delay: 0.15s;
}

.sidebar-expanded .overlay {
    display: block;
}

.hamburger .handle {
    transition: transform 0.2s cubic-bezier(.4,0,.2,1);
}

.hamburger:active .handle {
    transform: scale(0.85);
    transition-duration: 0.05s;
}

@media (min-width: 768px) {
    nav {
        box-shadow: none;
        margin-left: 0;
    }

    .sidebar-expanded .overlay {
        display: none;
    }
}
