nav {
    margin-left: -100%;
    box-shadow: -5px 0px 20px black;
    transition: margin-left 0.2s ease-out;
}

.overlay {
    display: none;
    opacity: 0;
}

.sidebar-expanded nav {
    margin-left: 0;
}

.sidebar-expanded .overlay {
    display: block;
    opacity: 0.6;
}

.hamburger:hover .handle, .hamburger:active .handle {
    background-color: white;
}

    .hamburger:hover .line, .hamburger:active .line {
        background-color: black;
    }

@media (min-width: 768px) {
    nav {
        box-shadow: none;
        margin-left: 0;
    }

    .sidebar-expanded .overlay {
        display: none;
    }
}
