<div class="h-16 flex items-center px-4 text-lg bg-black">
    QuickGrid for Blazor
</div>
<div class="p-4 py-2">
    <NavLink class="nav-link" href="." Match="NavLinkMatch.All">Introduction</NavLink>
    <NavLink class="nav-link" href="counter">Get started</NavLink>
    <NavLink class="nav-link" href="counter">Basic usage</NavLink>
</div>
<h2>Samples</h2>
<div class="p-4 py-2">
    <NavLink class="nav-link" href="counter">Something</NavLink>
</div>
