@page "/counter"

<PageTitle>Counter</PageTitle>

<p>This is just a counter.</p>

<p class="bg-slate-700">Count: @count</p>

<button @onclick="@(() => count++)">Increment</button>

@code {
    int count;
}
